body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #fff;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  border-bottom: solid 1px rgb(209, 207, 207);
}

.header--logo img{
  margin: 15px 25px 10px 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header input {
  height: 30px;
  width: 600px;
  margin: 15px 20px 10px 15px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.header--nav {
  display: flex;
}

.header--nav img {
  margin: 20px 10px 10px 10px;
  height:25px;
  width: 25px;
  border-radius: 50%;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.posts img {
  margin: 20px;
  height: 100%;
  width: 230px;
}