img {
    display: block;
    max-width: 100%;
}

.posts {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px auto;
    column-count: 5;
    box-sizing: border-box;
}

@media (max-width: 500px){
    .posts {
        margin: 15px 10px;
        column-count: 2;
    }
}

@media (max-width: 740px){
    .posts {        
        margin: 15px 10px;
        column-count: 3;
    }
}
@media (min-width: 1280px) {
    .posts {        
        margin: 15px 10px;
        column-count: 5;
    }
}
@media (min-width:1800px){
    .posts {
        margin: 15px 10px;
        column-count: 7;
    }
}

.posts--img {
    break-inside: avoid-column;
    text-align: center;
    margin-bottom: 20px;
}

.posts--img img {
    border-radius: 5%;
    box-sizing: border-box;
}

.posts--img span {
    line-height: 2rem;
    font-family: 'IBM Plex Mono' Helvetica, sans-serif;
    font-weight: bold;
}